@font-face {
    font-family: 'sf_arch_rival_extendedregular';
    src: url('./fonts/web\ fonts/sfarchrivalextended_regular_macroman/SF_Arch_Rival_Extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url(./images/background.png);
    background-size: 100% 100%;    
    font-family: 'sf_arch_rival_extendedregular';
} 

#content {
    display: grid;
    grid-template-rows: max(150px, 20vh) max(525px, 70vh) max(75px, 10vh);
}

#header,
#footer {
    background-color: rgba(255, 251, 0, 0.5);
}

#header {
    display: flex;
    align-content: center;
    justify-content: center;
}

#header>* {
    margin: 0px 60px;
}

#logo {
    height: 90%;
    width: auto;
}

#links {
    display: flex;
    gap: 20px;
}

#links a {
    color: rgb(73,72,72);
    align-self: center;
    font-size: 1.5rem;
    height: 45px;
    padding: 2px;
}


#links a:hover {
    font-weight: bold;
}

#links a:active {
    font-weight: bolder;
}

.on-display {
    border-bottom: 3px solid black;
}

#footer {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.github-icon {
    height: 30px;
    width: auto;
}

.item-card {
    background-color: rgba(255, 255, 255);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.item-img {
    height: 150px;
    width: 150px;
    justify-self: center;
}

.item-header {
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
    border-bottom: 4px dotted gold;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    padding: 100px 150px;
    column-gap: 20px;
    row-gap: 40px;
    justify-content: center;
}

.card-container {
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;

}

.home-card,
.contact-card {
    padding: 25px;
    background: white;
    height: 500px;
    border-radius: 10px;
}

.contact-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

iframe {
    height: 80%;
    border: none;
}
